nav{
	height: 60px;
	background: #2a3d50;
	z-index: 10;
}
.menu{
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	line-height: 60px;
}
.menu li{
	color: white;
	list-style-type: none;
	float: left;
	margin-right: 40px;
	line-height: 30px;
}
.logo{
	font-size: 26px;
	color: white;
	line-height: 60px;
}
.menu a{
	color: white;
	text-decoration: none;
}
.white-btn:visited{
	color: white;
}
.main{
	width: 100%;
	height: 100%;
	background: url(../img/boy.png) 90% 100%/ auto 85% no-repeat, url(../img/background.png)  center/cover no-repeat;
	box-shadow: inset 0px 0px 10px #000; 
}
.title__container{
	color: #2c384a;
}
.title__container h1{
	font-size: 72px;
	font-weight: bold;
}
.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}
.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px;
}
@media (max-width: 991px){
	.title__container, .title__container h4, .title__container input{
		color: white;
		position: relative;
		z-index: 3;
	}
	.title__container input{
		border: 2px solid #fffS;
	}
	.main{
		position: relative;
	}
	.main::after{
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4);
		z-index: 1;
	}
}
.about{
	padding-top: 105px;
}
.about h2{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: #263244;
}
hr{
	background: #d17700;
	width: 70px;
	opacity: 1;
}





/* body{
	font-family: Arial, sans-serif;
}
nav{
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
}
.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left:388px;
	float: left;
	-webkit-animation: coming 2s ease;
	-o-animation: coming 2s ease;
	animation: coming 2s ease;
}
.menu{
	float: left;
	padding-left: 432px;
}
.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
	opacity: 0;
	-webkit-animation: topshift 0.4s forwards ease;
	-o-animation: topshift 0.4s forwards ease;
	animation: topshift 0.4s forwards ease;
}
.main{
	width: 100%;
	height: 100%;
	background: url(../img/boy.png) 90% 100%/ auto 85% no-repeat, url(../img/background.png) center/cover no-repeat;
	box-shadow: inset 0px 0px 10px #000; 
}
.title__container{
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	opacity: 0;
	animation: titlemove 1s ease forwards;
	-webkit-animation: titlemove 1s ease forwards;
	-o-animation:  titlemove 1s ease forwards;
	animation-delay: 2.4s;
	-webkit-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
}
.title__container h1{
	font-size: 60px;
	font-weight: bold;
}
.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}
.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px;
}
.about h2{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	padding-top: 110px;
	color: #263244;
}
hr{
	background: #d17700;
	width: 70px;
	height: 5px;
	margin-left: 925px;
}
hr:hover{
	width: 100%;
	margin:0px;
	transition-duration: 1s;
}
.about hr{
	margin-top: 30px;
}
.photo_andrey img{
	padding: 62px 0px 26px 852px;
}
.photo_andrey h4{
	text-align: center;
	line-height: 40px;
	color: #3f495a;
}
.photo_andrey input{
	height: 32px;
	width: 134px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	margin: 35px 0px 0px 886px;
	background: url(../img/download.png) no-repeat center left;
    padding-left: 20px;
}
.photo_andrey input:hover{
	animation: rotate 1.2s ease-in-out 0s normal none infinite running;
}
.What_i_do{
	background: url(../img/background_who_i_am.jpg);
	margin-top: 100px;
	height: 522px;
}
.What_i_do>h2{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	padding: 110px 0px 30px 0px;
	color: #263244;
}
.What_i_do hr{
	margin-bottom: 100px;
}
.computer{
	display: inline-block;
	float: left;
	width: 210px;
	height: 150px;
	text-align: center;
	margin: 0px 40px 0px 417px;
}
.computer:hover{
	transform: scale3d(1.5, 1.5, 5);
	transition-duration: 0.5s;
}
.computer h2{
	font-size: 14px;
	color: #cf7600;
	line-height: 40px;
	font-weight: bold;
}
.computer h3{
	line-height: 20px;
	font-size: 14px;
}
.computer img{
	padding-bottom: 20px;
}
.skobki{
	display: inline-block;
	float: left;
	width: 210px;
	height: 150px;
	text-align: center;
	margin: 0px 40px 0px 40px;
}
.skobki h2{
	font-size: 14px;
	color: #cf7600;
	line-height: 40px;
	font-weight: bold;
}
.skobki h3{
	line-height: 20px;
	font-size: 14px;
}
.skobki img{
	padding-bottom: 17px;
}
.skobki:hover{
	transform: scale3d(1.5, 1.5, 5);
	transition-duration: 0.5s;
}
.raketa{
	display: inline-block;
	float: left;
	width: 210px;
	height: 150px;
	text-align: center;
	margin: 0px 40px 0px 40px;
}
.raketa h2{
	font-size: 14px;
	color: #cf7600;
	line-height: 40px;
	font-weight: bold;
}
.raketa h3{
	line-height: 20px;
	font-size: 14px;
}
.raketa img{
	padding-bottom: 10px;
}
.raketa:hover{
	transform: scale3d(1.5, 1.5, 5);
	transition-duration: 0.5s;
}
.gromofon{
	display: inline-block;
	width: 210px;
	height: 150px;
	text-align: center;
	margin: 0px 40px 0px 40px;
}
.gromofon h2{
	font-size: 14px;
	color: #cf7600;
	line-height: 40px;
	font-weight: bold;
}
.gromofon h3{
	line-height: 20px;
	font-size: 14px;
}
.gromofon img{
	padding-bottom: 13px;
}
.gromofon:hover{
	transform: scale3d(1.5, 1.5, 5);
	transition-duration: 0.5s;
	}
.kesys>h2{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	padding-top: 110px;
	color: #263244;
}
.kesys>h4{
	text-align: center;
	padding: 32px 0px 40px 0px;
	color: #3f495a
}
.kesys img{
	padding: 0px 0px 25px 388px ;
}
.kesys hr{
	margin-top: 30px;
}
.information>h2{
	font-size: 20px;
	color: #263244;
	margin-left: 388px;
	line-height: 20px;
	font-weight: bold;
}
.information>h6{
	font-size: 14px;
	color: #263244;
	margin-left: 388px;
	line-height: 30px;
}
.information input{
	margin: 20px 0px 0px 388px;
	width: 200px;
	height: 44px;
	font-size: 16px;
	background: #63b5ae;
	color: white;
	border-radius: 5px;
}
.information{
	float: left;
}
.project{
	height: 167px;
	width: 80%;
}
.project h2{
	margin-left: 671px;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
}
.project h3{
	margin-left: 671px;
	line-height: 25px;
	font-size: 16px;
}
.raschet h2{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	margin: 200px 0px 50px 0px;
	color: #263244;
}
.raschet h3{
	padding: 0px 0px 25px 500px;
	font-weight: bold;
	color: #263244;
	font-size: 30px;
	color: #263244;
}
.raschet select{
	margin: 0px 0px 25px 500px;
	background: #eeeeee;
	width: 890px;
	height: 55px;
	border-radius: 5px;
	color: #737373;
}
.raschet hr{
	margin: 40px 0px 25px 500px;
	background: #d1d1d1;
	width: 890px;
}
#srok{
	margin-left: 500px;
	font-weight: bold;
	color: #263244;
}
#srok0{
	margin-left: 840px;
	font-weight: bold;
	color: #263244;
}
#stoimost{
	margin-left: 500px;
	font-weight: bold;
	color: #263244;
}
#stoimost0{
	margin-left: 807px;
	font-weight: bold;
	color: #263244;
}
.statics{
	background: url(../img/backgroundstatics.jpg) no-repeat;
	 background-attachment: fixed;
}
.statics>h2{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	padding: 100px 0px 30px 0px;
	color: #263244;
	margin-top: 150px;
}
.statics hr{
	margin-bottom: 85px;
}
.smile{
	display: inline-block;
	float: left;
	width: 210px;
	height: 150px;
	text-align: center;
	margin: 0px 80px 0px 320px;
}
.smile h2{
	color: #323e4f;
	font-weight: 900;
	font-size: 30px;
	padding: 32px 0px 28px 0px;
}
.smile h3{
	color: #323e4f;
}
.smile img{
	height: 30%;
}
.skobki2{
	display: inline-block;
	float: left;
	width: 210px;
	height: 150px;
	text-align: center;
	margin: 0px 80px 0px 80px;
}
.skobki2 h2{
	color: #323e4f;
	font-weight: 900;
	font-size: 30px;
	padding: 32px 0px 28px 0px;
}
.skobki2 h3{
	color: #323e4f;
}
.skobki2 img{
	height: 30%;
}
.galka{
	display: inline-block;
	float: left;
	width: 210px;
	height: 150px;
	text-align: center;
	margin: 0px 80px 0px 80px;
}
.galka h2{
	color: #323e4f;
	font-weight: 900;
	font-size: 30px;
	padding: 32px 0px 28px 0px;
}
.galka h3{
	color: #323e4f;
}
.galka img{
	height: 30%;
}
.cup{
	display: inline-block;
	width: 210px;
	height: 150px;
	text-align: center;
	margin: 0px 80px 0px 80px;
}
.cup h2{
	color: #323e4f;
	font-weight: 900;
	font-size: 30px;
	padding: 32px 0px 28px 0px;
}
.cup h3{
	color: #323e4f;
}
.cup img{
	height: 30%;
}
.otziv h2{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	padding-top: 100px;
	color: #263244;
}
.a img{
	margin: 55px 0px 38px 910px;
}
.a h5{
	text-align: center;
	line-height: 20px;
	color: #3f495a;
}
.a h4{
	text-align: center;
	margin-top: 38px;
	color: #3f495a;
}
.contacs{
	background: url(../img/backgroundcontact.jpg);
	height: 808px;
	margin-top: 150px;
}
.contacs h3{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 100px;
	color: white;
}
.contacs h5{
	margin:36px 0px 45px 0px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.geo{
	display: inline-block;
	float: left;
	text-align: center;
	color: #fff;
	line-height: 20px;
	margin: 0px 50px 0px 650px;

}
.convert{
	display: inline-block;
	float: left;
	text-align: center;
	color: #fff;
	line-height: 20px;
	margin: 0px 50px 0px 50px;
}
.trubka{
	display: inline-block;
	text-align: center;
	color: #fff;
	line-height: 20px;
	margin: 0px 50px 0px 50px;
}
.geo img{
	padding-bottom: 20px;
}
.geo:hover{
	transform: translate(-10px, 10px);
	transition-duration: 0.5s;
}
.convert img{
	padding-bottom: 20px;
}
.convert:hover{
	transform: translate(0px, 10px);
	transition-duration: 0.5s;
}
.trubka img{
	padding-bottom: 20px;
}
.trubka:hover{
	transform: translate(10px, 10px);
	transition-duration: 0.5s;
}
.contacs h4{
	color: #fff;
	text-align: center;
	margin-top: 35px;
	font-size: 20px;
	font-weight: bold;
	padding: 30px 0px 45px 0px;
}
.otziv hr{
	margin-top: 30px;
}
.contacs input{
	width: 350px;
	height: 30px;
}
.contacs hr{
	margin-top: 30px;
}
#abc{
	margin-left: 590px;
}
#cba{
	margin-left: 30px;
}
textarea{
	margin: 15px 0px 0px 590px;
}
#forms{
	margin: 28px 0px 75px 900px;
	height: 45px;
	width: 125px;
	border-radius: 5px;
	font-size: 16px;
	background: rgba(0, 0, 0, 0);
	border: 1px solid white;
	color: white;
}
.maps{
	background: url(../img/maps.jpg);
	height: 356px;
}
footer{
	background: #354051;
	height: 95px
}
footer h6{
	text-align: center;
	font-size: 12px;
	line-height: 95px;
	color: #fff;
}
.menu li a{
	transition: all 0.1s;
	transform: scale(1);
	display: inline-block;
}
.menu li a:visited{
	color: white;
}
.menu li a:hover{
	color: #e88604;
}
.menu li a:active{
	transform: scale(1.1);
}
main{
	width: 100%;
	height: 100%;
}
.title__container input{
	transition: all 0.2s;
	transform: scale(1);
}
.title__container input:hover{
	background: #344051;
	color: white;

}
.title__container input:active{
	transform: scale(1.1);
}
@keyframes coming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}
.menu li:nth-child(2){
 animation-delay: 0.4s;
}
.menu li:nth-child(3){
 animation-delay: 0.8s;
}
.menu li:nth-child(4){
 animation-delay: 1.2s;
}
.menu li:nth-child(5){
 animation-delay: 1.6s;
}
.menu li:nth-child(6){
 animation-delay: 2s;
}
@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -500px;
	}
	to{
		opacity: 1;
		margin-left: 404px;
	}
}
	@keyframes rotate {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}*/















































