nav{
	height: 60px;
	background: #2a3d50;
	z-index: 10;
}
.menu{
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	line-height: 60px;
}
.menu li{
	color: white;
	list-style-type: none;
	float: left;
	margin-right: 40px;
	line-height: 30px;
}
.logo{
	font-size: 26px;
	color: white;
	line-height: 60px;
}
.menu a{
	color: white;
	text-decoration: none;
}
.white-btn:visited{
	color: white;
}
.main{
	width: 100%;
	height: 100vh;
	background: url(../img/boy.png) 90% 100%/ auto 85% no-repeat, url(../img/background.png) center/cover no-repeat;
	box-shadow: inset 0px 0px 10px #000;
	
}
.title__container{
	color: #2c384a;
	

}
.title__container h1{
	font-size: 72px;
	font-weight: bold;
}
.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}
.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px;
}
@media (max-width: 991px){
	.title__container, .title__container h4, .title__container input{
		color: white;
		position: relative;
		z-index: 3;
	}
	.title__container input{
		border: 2px solid #fffS;
	}
	.main{
		position: relative;
	}
	.main::after{
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4);
		z-index: 1;
	}
}
.about{
	padding-top: 105px;
}
.about h2{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: #263244;
}
hr{
	background: #d17700;
	height: 5px;
	opacity: 1;
	margin: 35px 0px 0px 60px;
}
hr:not([size]) {
    height: 5px;
    width: 70px;
}
.about_text{
	text-align: center;
	padding-top: 25px;
	color: #3f495a;
}
.photo_andrey{
	padding-top: 55px;
}
.container-fluid{
	background: url(../img/background_who_i_am.jpg) center/cover no-repeat;
}
.What_i_do>h2{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	padding: 105px 0px 30px 0px;
	color: #263244;
}
.What_i_do hr{
	margin-bottom: 100px;
}
.computer{
	text-align: center;
}
.computer h2{
	font-size: 14px;
	color: #cf7600;
	line-height: 40px;
	font-weight: bold;
}
.computer h3{
	line-height: 20px;
	font-size: 14px;
}
.computer img{
	padding-bottom: 20px;
}
.skobki{
	text-align: center;
	
}
.skobki h2{
	font-size: 14px;
	color: #cf7600;
	line-height: 40px;
	font-weight: bold;
}
.skobki h3{
	line-height: 20px;
	font-size: 14px;
}
.skobki img{
	padding-bottom: 20px;
}
.raketa{
	text-align: center;
}
.raketa h2{
	font-size: 14px;
	color: #cf7600;
	line-height: 40px;
	font-weight: bold;
}
.raketa h3{
	line-height: 20px;
	font-size: 14px;
}
.raketa img{
	padding-bottom: 20px;
}
.gromofon{
	text-align: center;
}
.gromofon h2{
	font-size: 14px;
	color: #cf7600;
	line-height: 40px;
	font-weight: bold;
}
.gromofon h3{
	line-height: 20px;
	font-size: 14px;
}
.gromofon img{
	padding-bottom: 20px;
}
.what{
	margin: 0px 0px 105px 615px;
}
@media(max-width: 1399px){
	hr{
		margin: 35px 0px 0px 45px;
	}
}
@media(max-width: 1199px){
	hr{
		margin: 35px 0px 0px 35px;
	}
}
@media(max-width: 991px){
	hr{
		margin: 35px 0px 0px 15px;
	}
}
@media(max-width:767px){
	hr{
		margin: 35px 0px 0px 0px;
	}
}
@media(max-width: 575px){
	hr{
		margin: 35px 0px 0px 230px;
	}
}
@media(max-width: 360px){
	hr{
		margin: 35px 0px 0px 135px;
	}
}
@media(max-width: 1399px){
	.what{
		margin: 0px 0px 105px 525px;
	}
}
@media(max-width: 1199px){
	.what{
		margin: 0px 0px 105px 430px;
	}
}
@media(max-width: 991px){
	.what{
		margin: 0px 0px 105px 315px;
	}
}
@media(max-width:767px){
	.what{
		margin: 30px 0px 105px 225px;
	}
}
@media(max-width: 575px){
	.what{
		margin: 0px 0px 105px 225px;
	}
}
@media(max-width: 360px){
	.what{
		margin: 0px 0px 105px 615px;
	}
}
.kesys>h2{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	padding-top: 110px;
	color: #263244;
}
.kesys>h4{
	text-align: center;
	margin: 32px 0px 40px 0px;
	color: #3f495a
}
.information>h2{
	font-size: 20px;
	color: #263244;
	line-height: 20px;
	font-weight: bold;
}
.information>h6{
	font-size: 14px;
	color: #263244;
	line-height: 30px;
}
.information input{
	margin: 20px 0px 0px 0px;
	width: 200px;
	height: 44px;
	font-size: 16px;
	background: #63b5ae;
	color: white;
	border-radius: 5px;
}
.project h2{
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
}
.project h3{
	line-height: 25px;
	font-size: 16px;
}
.keyshr{
	margin-bottom: 38px;
}
.resystxt>h4{
	text-align: center;
	padding: 40px 0px 50px 0px;
	color: #3f495a
}
.tipesite input{
	margin: 20px 0px 35px 0px;
	width: 195px;
	height: 44px;
	font-size: 16px;
	background: #00b6af;
	color: white;
	border-radius: 5px;
	text-align: center;
}
.raschet h2{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	margin: 35px 0px 50px 0px;
	color: #263244;
}
.typesite h3{
	padding: 0px 0px 25px 220px;
	font-weight: bold;
	color: #263244;
	font-size: 30px;
	color: #263244;
}
.raschet select{
	margin: 0px 0px 25px 0px;
	background: #eeeeee;
	width: 890px;
	height: 55px;
	border-radius: 5px;
	color: #737373;
}
.raschethr {
	margin: 40px 0px 25px 0px;
	background: #d1d1d1;
	width: 100vh;
}
#srok{
	font-weight: bold;
	color: #263244;
}
#srok0{
	margin-left: 810px;
	font-weight: bold;
	color: #263244;
}
#stoimost{
	font-weight: bold;
	color: #263244;
}
#stoimost0{
	margin-left: 781px;
	font-weight: bold;
	color: #263244;
}
.border{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 165px 0px
}
.form-select{
	margin-bottom: 25px;
}
.statisika{
	background: url(../img/backgroundstatics.jpg) center/cover no-repeat;
}
.statics>h2{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding: 100px 0px 30px 0px;
	color: #263244;
}
.smile{
	text-align: center;
}
.smile h2{
	color: #323e4f;
	font-weight: 900;
	font-size: 30px;
	padding: 32px 0px 28px 0px;
}
.smile h3{
	color: #323e4f;
	font-weight: bold;
}
.smile img{
	height: 30%;
}
.skobki2{
	text-align: center;
}
.skobki2 h2{
	color: #323e4f;
	font-weight: 900;
	font-size: 30px;
	padding: 32px 0px 28px 0px;
}
.skobki2 h3{
	color: #323e4f;
	font-weight: bold;
}
.skobki2 img{
	height: 30%;
}
.galka{
	text-align: center;
}
.galka h2{
	color: #323e4f;
	font-weight: 900;
	font-size: 30px;
	padding: 32px 0px 28px 0px;
}
.galka h3{
	color: #323e4f;
	font-weight: bold;
}
.galka img{
	height: 30%;
}
.cup{
	text-align: center;
}
.cup h2{
	color: #323e4f;
	font-weight: 900;
	font-size: 30px;
	padding: 32px 0px 28px 0px;
}
.cup h3{
	color: #323e4f;
	font-weight: bold;
}
.cup img{
	height: 30%;
}
.otziv h2{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	padding-top: 100px;
	color: #263244;
}
.a h5{
	text-align: center;
	line-height: 20px;
	color: #3f495a;
	margin-top: 40px;
}
.a h4{
	text-align: center;
	margin-top: 38px;
	color: #3f495a;
}
.a img{
	text-align: center;
	margin-top: 60px;	
}
.contacs h3{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 100px;
	color: white;
}
.contacs h5{
	margin:36px 0px 45px 0px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.contacsback{
	background: url(../img/backgroundcontact.jpg) center/cover no-repeat;
	margin-top: 150px;
	height: 100%;
}
.geo{
	text-align: center;
	color: #fff;
	line-height: 20px;
}
.convert{
	text-align: center;
	color: #fff;
	line-height: 20px;
}
.trubka{
	text-align: center;
	color: #fff;
	line-height: 20px;
}
.geo img{
	padding-bottom: 20px;
}
.convert img{
	padding-bottom: 20px;
}
.trubka img{
	padding-bottom: 20px;
}
.contacs h4{
	color: #fff;
	text-align: center;
	margin-top: 35px;
	font-size: 20px;
	font-weight: bold;
}
.contacs input{
	width: 350px;
	height: 30px;
	margin: 15px;
}
.polevvodamassage{
	margin-top: 15px;
}
#forms{
	margin: 28px 0px 0px 0px;
	height: 45px;
	width: 125px;
	border-radius: 5px;
	font-size: 16px;
	background: rgba(0, 0, 0, 0);
	border: 1px solid white;
	color: white;
}
.maps{
	background: url(../img/maps.jpg) no-repeat;
	height: 100vh;
	width: all;
}
footer h6{
	text-align: center;
	font-size: 12px;
	line-height: 95px;
	color: #fff;
}
.footer {
	background: #2c3d50;
}
.form-select{
	background: #eeeeee;
}
.photo_andrey input{
	height: 32px;
	width: 134px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	margin: 35px 0px 100px 0px;
	background: url(../img/download.png) no-repeat center left;
    padding-left: 20px;
}
@media(max-width: 1399px){
	#srok0{
	margin-left: 1060px;
}
	#stoimost0{
	margin-left: 1030px;
}
}
@media(max-width: 1199px){
	#srok0{
	margin-left: 885px;
}
	#stoimost0{
	margin-left: 855px;
}
}
@media(max-width: 991px){
	#srok0{
	margin-left: 647px;
}
	#stoimost0{
	margin-left: 617px;
}
}
@media(max-width: 767px){
	#srok0{
	margin-left: 465px;
}
	#stoimost0{
	margin-left: 435px;
}
}
@media(max-width: 522px){
	#srok0{
	margin-left: 420px;
}
	#stoimost0{
	margin-left: 390px;
}
